body {
	font-family: Futura;
	padding: 0;
	margin: 0;
}


.box {
  width: 750px;
  height: 600px;
  margin: auto;
}

.box-full {
	width: 100%;
	height:  600px;
}

.thumb {
	width: 500px;
	height: auto;
	margin: auto;
}

.spacer-big {
	height: 800px;
}

  
#animate1 {
	background-image: url("../images/womanfromwillendorf.png");
}

.spacer {
  height: 50px;
}

#animate2 {
	opacity: 0;
}

#animate3 {
	background-image: url("../images/mona-lisa.jpg");
	background-size: 1433px 1920px;
}

#animate4 {
	opacity: 0;
}

#animate5 {
	background-image: url("../images/guernica.jpg");
	background-size: auto 100%;
	background-repeat: none;
}

#animate5 .layer2 {
	white-space: nowrap;
	color: black;
	padding-left: 100%;
	padding-top: 580px;
}


#animate5 .layer2 h3{
	float: left;
}

#animate5 .layer2 span{

	padding-left: 2em;
	font-weight: 100;
	font-size: .7em;
}

#animate6 {
	opacity: 0;
}

img {
	float: left;
	padding-left: 2em;
}

.thumb div {
	width: 50%;
	float: right;
}

h3 {
	text-decoration: small-caps;
}
